@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{font-family: 'Roboto', sans-serif; max-width:100%; }
body {
    display: block;
    margin: 0px;
    background-image:url('../img/mainBackground.png'); background-repeat: repeat
 }
 footer{text-align: center;background-color:rgba(255,255,255,0.3); width:100%; display:inline-block}
video{ border-radius: 15px;}
 #video-container {
    width: 100%;
	position: relative;
}
audio{width:100%}
#video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	background-image: linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -o-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);

    background-image: 
    -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, rgb(3,113,168)),
		color-stop(1, rgb(0,136,204))
	);
}
button a {color:white}
#video-container:hover #video-controls {
	opacity: .9;
}

#video-container button {
	background: rgba(0,0,0,.5);
	border: 0;
	color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}



#volume-bar {
    width: 60px; 
    float:right
}
  
#video-container button:hover, #video-container a:hover {
    opacity: 0.7;
  }
.play{width:auto}
#mute{width:auto;float:right}
#full-screen{width:auto; float:right}
 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 236px;
    margin: auto;
    text-align: center;
    font-family: arial;
    float:left;
    margin:15px;
  }
  .card img{ width:100%; border-radius: 50%}
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  button:hover {
	cursor: pointer;
}
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }


.gg{background-color:rgba(255, 255, 255, 0.8);}
.desktopTabletMenu{margin:0 auto;}
.content{
    width:100%; 
    float:left; 
}

.header{width:100%;}
.logo{float:left; width:10%}
li {
    display:inline-block;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius:25px;
}

li a:hover:not(.active) {
    background-color: white;
    border:1px dashed black;
}

.active {
    background-color: lightgrey;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
    background-color: #333; 
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.mobileMenu{
    position: absolute;
    right:5px; 
    top:5px;
    width: 60px;
    height:60px; 
}
.mobile-container {
    display: none;
    max-width: 480px;
    width: 280px;
    margin: auto;
    background-color: #555;
    color: white;
    border-radius: 10px;
    position:fixed; 
    top:60px;
    right:20px;
    z-index:99
}
#mobileMenuLinks a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.trippleImages{
    float:left; 
    width:33%; 
    min-height:270px;
	background-position:center;
	background-size:contain;
    background-repeat: no-repeat;
    vertical-align: top;
}
.content .bigImage{
    width:45%; 
    margin:0 auto; 
    display:block;
}
#map {
    width:100%; 
    height:400px; 
    margin: 0 auto; 
}
table.tableProgramm{ 
    font-weight: bold;
    width:45%; 
    margin:0 auto;
}
table.tableProgramm tr:nth-child(even) {
   background-color: #f2f2f2
}
table.tableProgramm tr:first-child td {
   background-color: silver
}

table.tableKontakt{width:50%; margin:0 auto;}
.textArea{width:100%; height:300px}
table.tableKontakt input:not([type='submit']){width:100%; margin:0 auto;}
.Logo:hover {
    animation: shake 4s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

   .main{width:95%; padding: 10px; }
   .pageTitle{
        width:40%; 
        margin:0 auto; 
        font-weight: bold; 
        text-align:center;
        padding:20px;
        z-index:99;
     }
    .logo{
        float:left; 
        max-width:70px;
        width:70px; 
        z-index:1; 
        height:70px;
    }
    .logo img{
        float:left; 
        max-width:70px;
        width:70px; 
        z-index:1; 
        height:70px
    }
    .mobileMenuButton {
        display: inline-block; 
        float:right; 
        position:fixed; 
        top:40px; 
        right:20px; 
        width:35px; 
        height:35px;
        color:black;
        z-index:9999
    }
    ul.desktopTabletMenu { display: none}
    .pageTitle{
        width:240px; 
        font-weight: bold; 
        border-top:black 1px solid; 
        text-align:center;
        margin:0 auto
    }
    .trippleImages{
        max-height:80px;
        min-height:80px;
    
    }
    table.tableProgramm{ 
        font-weight: bold;
        width:100%; 
        margin:0 auto;
    }
    table.tableKontakt{
        width:100%; 
        margin:0 auto;
    }
    table.tableKontakt input{
        width:100%; 
        margin:0 auto;
    }
    .content .bigImage{
        width:95%; 
        margin:0 auto; 
        display:block;
    }
    #seek-bar {
        width: 130px
    }
    .card{width:236px; margin:0 auto; float:none}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   .main{width:95%; padding: 10px; }
   .mobileMenuButton {
        display: inline-block; 
        float:right; 
        position:fixed; 
        top:40px; 
        right:20px;
        z-index:9999
    }
    ul.desktopTabletMenu { display: none}
    .pageTitle{
        width:200px; 
        margin:0 auto; 
        font-weight: bold; 
        border-top:black 1px solid; 
        text-align:center;
    }
    #seek-bar {
        width: 400px
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   .main{width:100%; padding: 10px; height:100%}
   ul.desktopTabletMenu {
       display:block;
        height:50px;
        width:500px;
        margin:0 auto;
        list-style-type: none;
        font-weight: bold;
    }
    .mobileMenuButton {
        display: none;
    }
    .pageTitle{
        width:540px; 
        margin:0 auto; 
        font-weight: bold; 
        border-top:black 1px solid; 
        text-align:center;
        margin-top:10px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   .main{
       width:80%; 
       margin:0 auto; 
       height:100%; 
       padding: 10px;
    }
   ul.desktopTabletMenu {
       display:block;
        height:50px;
        width:500px;
        margin:0 auto;
        list-style-type: none;
        font-weight: bold;
        font-size:15px
    }
    .mobileMenuButton {
        display: none;
    }
    .pageTitle{
        width:470px; 
        margin:0 auto; 
        font-weight: bold;  
        border-top:black 1px solid; 
        text-align:center;
        margin-top:10px;
    }
    #seek-bar {
        width: 900px
    }
} 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #seek-bar {width: 590px}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   .main{
        width:80%; 
        margin:0 auto; 
        height:auto; 
        padding: 10px;
        overflow:auto;
    }
   ul.desktopTabletMenu {
       display:block;
        height:50px;
        width:500px;
        margin:0 auto;
        list-style-type: none;
    }
    ul.desktopTabletMenu li a{
         font-size:15px
     }
    .mobileMenuButton {
        display: none;
    }
    .pageTitle{
        width:470px; 
        margin:0 auto; 
        font-weight: bold; 
        border-top:black 1px solid; 
        text-align:center;
        margin-top:10px;
        padding-top:5px;
    }
    #seek-bar {
        width: 840px
    }
}
